.App {
    font-family: "Laila", sans-serif;
    // font-family: "Saira", sans-serif;
}

.repoItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid red;
    .sectionImage {
        width: 100px;
        height: 100px;
        border: 1px solid blue;

        img {
            width: 100%;
        }
    }

    .sectionDetails {
        border: 1px solid green;

        .repoName {
            font-family: "Saira", sans-serif;
            font-size: 20px;
        }

        .repoDescription {
            border: 1px solid yellow;
            overflow: hidden;
            // max-height: 30px;

            &.hasValue {
            }

            &.noValue {
                color: grey;
            }
        }

        .repoNumbers {
        }
    }
}
